@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Manrope:wght@200..800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /* Smooth out the scroll when going through menu */
}

body {
    font-family: "Manrope", sans-serif;
}

header {
    background: #fff;
    padding: 20px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 a {
    text-decoration: none;
    color: #0a0b0e;
    font-size: 25px;
    padding-top: 0;
    font-weight: 600;
    line-height: 100%;
}

nav ul li {
    display: inline;
    margin-left: 50px;
}

nav ul li a {
    text-decoration: none;
    color: #4a4a4a;
    font-size: 18px;
}

nav ul li a:hover {
    font-weight: 600;
    color: #e8b100;
}

/* Default hide toggle button on desktop */
.nav-toggle {
    display: none;
}

.btn__contact {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 30px;
    font-weight: 600;
}

.btn__contact:hover {
    background-color: #e8b100;
    color: #000;
}

/* Landing page css */
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
    height: 90vh;
}

.main-line {
    border-top: 5px solid black;
    width: 8%;
    margin-right: 20px;
    padding-bottom: 270px;
}

.main-line-about {
    border-top: 5px solid black;
    width: 10%;
    margin-right: 30px;
    padding-bottom: 450px;
}

.intro {
    width: 46%;
}

.about_intro {
    width: 68%;
    padding-left: 0;
}

.intro__content h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 20px;
}

.about_intro h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 20px;
}

.intro__content p {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 70px;
}

.about_intro p {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;
    text-align: justify;
}

.responsive_video {
    height: 500px;
    border-radius: 20px;
}

.connect-btn {
    margin-top: 1rem;
    padding: 1rem 2rem;
    background-color: #e8b100;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 25px;
    text-decoration: none;
    display: inline-block;
}

.connect-btn:hover {
    background-color: #836504;
}

.image-intro {
    text-align: right;
    width: 46%;
}

.image-intro_video {
    text-align: right;
    width: 46%;
}

.image-intro img {
    height: 200px;
    border-radius: 50%;
    margin-bottom: 40px;
}

.image-intro p {
    font-family: "Crimson Text", sans-serif;
    font-size: 30px;
    line-height: 60px;
}

.flipping-text {
    height: 5em; /* Adjust height based on font size */
    overflow: hidden;
    position: relative;
}

.flipping-text p {
    animation: flipText 6s infinite;
    margin: 0;
    line-height: 1.5em;
    position: absolute;
    font-size: 40px;
    width: 100%;
    opacity: 0;
    font-weight: bold;
}

.flipping-text p:nth-child(1) {
    animation-delay: 0s;
}
.flipping-text p:nth-child(2) {
    animation-delay: 2s;
}
.flipping-text p:nth-child(3) {
    animation-delay: 4s;
}

@keyframes flipText {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    10% {
        transform: translateY(0);
        opacity: 1;
    }
    30% {
        transform: translateY(0);
        opacity: 1;
    }
    40% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

/* Featured projects */
.project-container {
    display: flex;
    justify-content: space-between;
    padding: 70px 200px 0px 200px;
    background-color: #000000;
}

.main-line-dark {
    border-top: 5px solid white;
    width: 8%;
    margin-right: 20px;
    margin-top: 30px;
}

.featured-projects {
    width: 92%;
}

.featured-projects > h1 {
    color: #ffffff;
    font-size: 40px;
    line-height: 72px;
    font-weight: 700;
}

.project {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
    color: white;
}

.mobile-version {
    display: none;
}

.project__content {
    width: 50%;
    padding: 45px;
}

.project__content h1 {
    font-size: 48px;
    margin-bottom: 2rem;
    line-height: 60px;
    font-weight: 800;
}

.project__content h3 {
    font-size: 32px;
    margin-bottom: 2rem;
    line-height: 40px;
    font-weight: 700;
}

.project__content p {
    font-size: 16px;
    margin-bottom: 70px;
    color: #71717a;
    line-height: 24px;
}

.project__content a {
    border: 1px solid white;
    color: #fff;
    text-decoration: none;
    padding: 20px 50px;
    margin-left: 50px;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 70px;
}

.project__content .project1-btn:hover {
    background-color: #d1e9f9;
    color: #000000;
}

.project__content .project2-btn:hover {
    background-color: #d8e8c5;
    color: #000000;
}

.project__content .project3-btn:hover {
    background-color: #eeb0b7;
    color: #000000;
}

.project__img {
    width: 50%;
    margin-top: 20px;
}

.project__img2 {
    text-align: center;
}

.project__img > img {
    width: 60%;
}

/* Footer css */
footer {
    background-color: #313131;
    color: white;
    padding: 20px 150px;
}

footer > h1 {
    color: white;
    margin: 10px 0;
}

.mail {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.designer__info {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.designer__name {
    color: #e8b100;
}

.social-links {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.social-links-img {
    width: 30px;
}

.heading {
    display: flex;
    margin: 0px 200px;
}

.heading_line {
    border-top: 5px solid black;
    width: 8%;
    margin-right: 20px;
    margin-top: 30px;
}

.heading_content {
    width: 92%;
}

.heading_content h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 72px;
    margin-bottom: 20px;
}

.experience,
.education {
    display: flex;
    justify-content: space-around;
    margin: 0px 200px;
}

.arrow {
    width: 25%;
    text-align: right;
    padding-right: 50px;
}

.arrow img {
    height: 60px;
}

.experience__content,
.education__content {
    width: 75%;
    padding-top: 50px;
    padding-left: 50px;
    margin-bottom: 60px;
}

.experience__content img {
    height: 90%;
}

.education__content h2 {
    font-weight: 800;
    font-size: 32px;
    line-height: 100%;
    margin-bottom: 30px;
}

.education__content details {
    border-bottom: 1px solid #333;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.education__content summary {
    list-style: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.education__content summary::-webkit-details-marker {
    display: none;
}

.education__content .arrow {
    transition: transform 0.5s ease;
}

.education__content details[open] .arrow {
    transform: rotate(180deg);
}

.education__content .edu-content {
    margin-top: 30px;
}

.education__content .label {
    color: #e8b100;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 5px;
}

.education__content .value {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
}

.experience__content {
    position: relative;
    margin: 70px 0px 70px 120px;
    background: #fff;
    padding: 20px 30px;
    box-sizing: border-box;
    /* For stacking context */
    z-index: 0;
}
/* Top border */
.experience__content::before {
    content: "";
    position: absolute;
    top: 0;
    left: -40px;
    width: calc(100% + 80px);
    height: 2px;
    background: #111;
    z-index: 3;
}
/* Left border */
.experience__content::after {
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    width: 2px;
    height: calc(100% + 80px);
    background: #111;
    z-index: 3;
}
/* Bottom border */
.border-bottom {
    position: absolute;
    bottom: 0;
    height: 2px;
    background: #111;
    z-index: 2;
    /* Extend beyond box */
    left: -40px;
    width: calc(100% + 80px);
    /* Underlap at corners */
}
/* Right border */
.border-right {
    position: absolute;
    top: -40px;
    right: 0;
    width: 2px;
    height: 100%;
    background: #111;
    z-index: 2;
    height: calc(100% + 80px);
}

/* Content styling */
.experience-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.experience-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 18px;
}

.experience-number {
    font-size: 30px;
    font-weight: 500;
    min-width: 60px;
    margin-right: 20px;
    line-height: 100%;
}

.experience-content {
    flex: 1;
}

.experience-title {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 4px 0;
}

.experience-company {
    font-weight: 700;
    font-size: 20px;
    margin: 0 0 6px 0;
}

.experience-description {
    margin: 0 0 6px 0;
}

.experience-date {
    color: #706f6f;
    margin: 0;
}

.dark-mode {
    background-color: #000000;
    color: white;
    padding-top: 50px;
}

.dark-mode .heading_line {
    border-top: 5px solid white;
}

.beyond-canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 200px;
    padding-bottom: 120px;
}

.beyond-canvas .separator {
    width: 8%;
}

.beyond-canvas-first .arrow {
    margin-left: 70px;
}

.card {
    background: #fff;
    border: 3px solid black;
    box-shadow: 14px 14px 0 #bdb9a3;
    display: flex;
    max-width: 500px;
    margin: 0 20px 0 20px;
}

.card-white {
    margin-top: 50px;
}

.card-yellow {
    background-color: #ffe68c;
    margin-top: 80px;
}

.card-pink {
    background-color: #ffc9f0;
    margin-top: -50px;
}

.card-blue {
    background-color: #9ddcff;
    margin-top: 80px;
}

.card-image {
    flex: 1 1 40%;
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 20px 20px;
}

.card-image img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.07);
}

.card-image video {
    width: 100%;
    height: 90%;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.07);
}

.card-content {
    flex: 1 1 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-content h2 {
    margin-top: 0;
    font-size: 20px;
    font-weight: 700;
    color: #222;
    margin-bottom: 20px;
}

.card-content p {
    font-size: 16px;
    color: #444;
    line-height: 1.6;
}

/* Case study CSS */
.case-study {
    padding: 20px 200px;
}

.case-study-title {
    text-align: center;
    margin: 20px;
    font-size: 35px;
}

.case-study-subtitle {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    margin: 30px;
}

.case-study-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.case-study-main-image {
    width: 100%;
    margin: 50px 0 60px 0;
}

.case-study-info {
    display: flex;
    margin-bottom: 30px;
}

.case-study-insights {
    width: 25%;
}

.insights {
    margin-bottom: 50px;
}

.insight-title {
    /* font-size: 20px; */
    font-weight: bold;
    margin-bottom: 5px;
}

.case-study-overview {
    width: 75%;
    margin-left: 60px;
}

.overview {
    margin-bottom: 50px;
}

.overview-title {
    margin-bottom: 30px;
    font-size: 30px;
}

.overview-subtitle {
    margin-bottom: 30px;
    color: #5f6065;
    font-weight: 500;
    font-size: 22px;
}

.overview-details {
    line-height: 35px;
    font-size: 16px;
    text-align: justify;
}

.overview-list {
    margin-left: 50px;
    line-height: 35px;
}

.full-width-section {
    width: 100vw;
    margin-left: calc(-1 * (200px)); /* counter the padding of .case-study */
    padding: 50px 200px 5px 200px;
    margin-bottom: 30px;
}

.bhachat {
    background-color: #daebfb; /* light blue or whatever shade you want */
}

.awashub {
    background-color: #d8e8c5; /* light blue or whatever shade you want */
}

.she-leads {
    background-color: #eeb0b7; /* light blue or whatever shade you want */
    margin-bottom: 0;
}

.she-leads-2 {
    background-color: #e9e9e9; /* light blue or whatever shade you want */
}

.awashub-darkmode {
    background-color: #000;
    color: white;
}

.overview-image {
    margin-top: 40px;
    width: 100%;
}

.overview-images {
    margin-top: 40px;
    display: flex;
}

.overview-images img {
    width: 50%;
    margin: 20px;
}

.image-wrapper {
    display: flex;
    justify-content: center;
}

.small-version {
    width: 70%;
}

.prototype-container {
    display: flex;
    justify-content: center;
}

.overview-prototype {
    width: 320px;
    height: 690px;
    overflow: hidden;
    border-radius: 30px;
}

.overview-prototype iframe {
    transform: scale(1.25); /* zoom in */
    width: 100%;
    height: 100%;
    border: none;
}

.takeway-section {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 50px;
}

.takeway-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.takeway-row .reverse {
    text-align: right;
}

.takeway-image {
    margin-bottom: 30px;
}

.takeway-image-right {
    text-align: right;
}

.takeway-image img {
    width: 70%;
}

.takeway-text ul {
    list-style-type: disc;
    padding-left: 20px;
    line-height: 40px;
}

.takeway-text li {
    margin-bottom: 30px;
}

/* carousel for project images */
.project__pics {
    position: relative;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}
.project_carousel {
    position: relative;
    overflow: hidden;
}

.project_carousel__inner {
    display: flex;
    transition: transform 0.5s ease;
}

.project_carousel__image {
    min-width: 33.33%;
    box-sizing: border-box;
    padding-left: 60px;
}

.project_carousel__image img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.carousel__control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.carousel__control:hover {
    background-color: rgba(144, 141, 141, 0.8);
}

.sheleads_image {
    border: 1px black solid;
    margin: 10px;
}

.sheleads_carousel {
    position: relative;
    overflow: hidden;
}

.sheleads_carousel__inner {
    display: flex;
    transition: transform 0.5s ease;
}

/* Marquee */
.sheleads__pics {
    position: relative;
    text-align: center;
}

.marquee {
    position: relative;
    overflow: hidden;
    padding-left: 0;
    padding-top: 30px;
    width: 100%; /* Ensures full width container */
}

.marquee h1 {
    color: white;
    margin-bottom: 30px;
    font-size: 30px;
}

.marquee__inner {
    display: flex;
    width: max-content; /* Needed to allow scroll based on content width */
    animation: scroll-left 30s linear infinite;
}

.marquee__image {
    flex: 0 0 auto; /* Prevent shrinking */
    width: 300px; /* Fixed width or % depending on your design */
    box-sizing: border-box;
}
.second__image {
    width: 600px; /* Fixed width or % depending on your design */
}

.marquee__image img {
    width: 90%;
    height: 85%;
    display: block;
    object-fit: cover;
}

/* Adjust the scroll-left animation */
@keyframes scroll-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

/* Responsive Mobile styles */
@media (max-width: 768px) {
    header {
        flex-wrap: wrap;
        padding: 20px;
        border: 1px solid black;
    }

    .nav-toggle {
        display: block;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: #0a0b0e;
    }
    nav {
        width: 100%;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    .nav-list li {
        margin: 15px 0;
        text-align: center;
    }

    .nav-list li a {
        font-size: 16px;
    }

    .nav-list.show {
        display: flex;
    }

    .btn__contact {
        margin-left: 0;
    }

    /* Footer */
    footer {
        padding: 40px 20px;
        text-align: center;
    }

    footer > h1 {
        font-size: 22px;
        margin: 20px 0;
    }

    .mail {
        display: block;
        margin-top: 10px;
        word-break: break-all; /* wrap email if it overflows */
    }

    .designer__info {
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }

    .social-links {
        width: 100%;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
    }

    .social-links-img {
        width: 25px;
    }

    /* Main section layout */
    main {
        flex-direction: column;
        margin: 40px 20px;
        height: auto;
    }

    .main-line,
    .main-line-about {
        display: none;
    }

    .intro,
    .image-intro {
        width: 100%;
        text-align: center;
    }

    .intro__content h2,
    .about_intro h2 {
        font-size: 28px;
        line-height: 40px;
    }

    .intro__content p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    .connect-btn {
        font-size: 18px;
        padding: 12px 25px;
        border-radius: 12px;
    }

    .image-intro img {
        height: 150px;
        margin: 30px;
    }

    .image-intro p {
        font-size: 28px;
        line-height: 40px;
    }

    .flipping-text {
        height: 4em;
    }

    /* Project section layout */
    .project-container {
        flex-direction: column;
        padding: 40px 20px;
    }

    .main-line-dark {
        display: none;
    }

    .featured-projects {
        width: 100%;
    }

    .featured-projects > h1 {
        font-size: 30px;
        line-height: 48px;
        text-align: center;
    }

    .mobile-version {
        display: block;
    }

    .project {
        flex-direction: column;
        align-items: center;
        margin: 40px 0;
        border-bottom: 1px solid white;
    }

    .desktop-version {
        display: none;
    }

    .project__content {
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    .project__content h1 {
        font-size: 36px;
        line-height: 48px;
        display: inline;
    }

    .project__content h3 {
        font-size: 24px;
        line-height: 32px;
    }

    .project__content p {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .project__content a {
        padding: 15px 30px;
        margin: 0 auto;
        display: inline-block;
        font-size: 16px;
    }

    .project__img {
        text-align: center;
        margin-top: 30px;
        width: 100%;
    }

    .project__img img {
        height: auto;
    }

    /* About page */
    .heading {
        flex-direction: column;
        margin: 0 20px;
    }

    .education-heading {
        margin-top: 30px;
    }

    .heading_line {
        display: none;
    }

    .heading_content h2 {
        font-size: 28px;
        line-height: 40px;
        text-align: center;
    }

    .experience,
    .education {
        flex-direction: column;
        margin: 0 20px;
    }

    .arrow {
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 20px 0;
    }

    .arrow img {
        height: 40px;
    }

    .experience__content {
        width: 85%;
        padding: 30px;
        margin: 30px;
    }

    .education__content {
        width: 100%;
        padding: 20px;
        margin: 0;
    }

    .experience-item {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 40px;
    }

    .experience-number {
        font-size: 32px;
        margin-bottom: 10px;
    }

    .experience-title,
    .experience-company {
        font-size: 20px;
    }

    .experience-description {
        font-size: 16px;
    }

    .experience-date {
        font-size: 14px;
    }

    .education__content h2 {
        display: none;
    }

    .education__content summary {
        line-height: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        width: 100%;
    }

    .education__content summary .arrow {
        width: 20%;
        margin-left: 10px;
    }

    /* Beyond the Canvas section */
    .beyond-canvas {
        flex-direction: column;
        margin: 0 20px;
    }

    .beyond-canvas .separator {
        display: none;
    }

    .beyond-canvas-first,
    .beyond-canvas-second {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .beyond-canvas-first .arrow {
        margin: 30px 0;
        text-align: center;
    }

    .card {
        flex-direction: column;
        margin: 35px 0 35px 0;
        width: 90%;
        max-width: none;
    }

    .card-image {
        min-width: auto;
        padding: 20px;
    }

    .card-content {
        padding: 20px;
    }

    .card-content h2 {
        font-size: 18px;
    }

    .card-content p {
        font-size: 14px;
    }

    /* Responsive video section */
    .image-intro_video {
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .responsive_video {
        width: 90%;
        height: auto;
        border-radius: 10px;
    }

    .about_intro {
        width: 100%;
        padding: 0 20px;
    }

    .intro__about {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
        text-align: justify;
    }

    /* Case study */
    .case-study {
        padding: 20px 20px;
    }

    .case-study-title {
        font-size: 32px;
        margin: 20px 0;
    }

    .case-study-subtitle {
        font-size: 18px;
        line-height: 28px;
        margin: 20px 0;
    }
    .case-study-logo {
        display: none;
    }

    .case-study-main-image {
        margin: 30px 0;
    }

    .case-study-info {
        flex-direction: column;
    }

    .case-study-insights {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 30px;
        text-align: center;
    }

    .insights {
        margin-bottom: 20px;
    }

    .case-study-overview {
        width: 100%;
        margin-left: 0;
    }

    .overview {
        margin-bottom: 40px;
    }

    .overview-title {
        font-size: 24px;
    }

    .overview-subtitle {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .overview-details {
        font-size: 14px;
        line-height: 28px;
    }

    .overview-details .red {
        font-size: 14px;
        line-height: 28px;
        color: #cb182d;
    }

    .overview-list {
        margin-left: 20px;
        font-size: 14px;
        line-height: 28px;
    }

    .overview-image {
        margin-top: 30px;
    }

    .overview-images {
        display: flex;
        flex-direction: column;
    }

    .overview-images img {
        width: 90%;
    }

    .image-wrapper {
        justify-content: center;
    }

    .small-version {
        width: 100%;
    }

    .full-width-section {
        margin-left: -20px;
        padding: 30px 20px;
    }

    .takeway-section {
        flex-direction: column;
        gap: 30px;
    }

    .takeway-image img {
        width: 100%;
    }

    .takeway-text ul {
        padding-left: 18px;
        line-height: 32px;
    }

    .takeway-text li {
        margin-bottom: 20px;
    }

    .takeway-row {
        flex-direction: column;
    }

    .takeway-row .reverse {
        text-align: left;
    }

    .takeway-image-right {
        text-align: left;
    }

    /* === Marquee Responsiveness === */
    .marquee__image.second__image {
        width: 80vw;
        padding: 0 10px;
    }

    .marquee__image img {
        width: 100%;
    }

    .marquee__inner {
        animation-duration: 20s; /* Speed up animation for mobile */
    }

    .marquee h1 {
        font-size: 20px;
    }

    /* === Project Carousel Responsiveness === */
    .project_carousel__image {
        min-width: 100%;
        box-sizing: border-box;
        padding: 0; /* remove left padding for full width */
    }

    .project_carousel__image img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }

    .project_carousel__inner {
        transition: transform 0.5s ease;
        display: flex;
        width: 100%;
    }

    .project_carousel {
        overflow: hidden;
        width: 100%;
    }

    .carousel__control {
        font-size: 18px;
        padding: 8px;
    }

    .project__pics {
        margin: 20px 0;
    }

    .sheleads_image {
        margin: 5px;
    }
}
